node_modules
__pycache__/
/.generated/
/config.json
/mls-*/config.json
dist
distBackend
distFrontend
.env
logs
package-lock.json
tsconfig.tsbuildinfo
appconfig.json
.claude
pnpm-lock.yaml
mls-*
.DS_Store
types/*
servers/*.conf
.pm2.generated.cjs
.publish-obj/
.publish.sources.tgz
tsconfig.build.json
releases
current
.cssStage
.cssStage-old-sandbox
mls.d.ts
static/
**.js
