node_modules
__pycache__/
/.generated/
/config.json
/mls-*/config.json
dist
distBackend
distFrontend
.env
logs
package-lock.json
tsconfig.tsbuildinfo
appconfig.json
.claude
pnpm-lock.yaml
mls-*
!mls-102051/
mls-102051/*
!mls-102051/package.json
!mls-102051/publish.*.conf.example
.DS_Store
types/*
servers/*.conf
.pm2.generated.cjs
.publish-obj/
.publish.sources.tgz
tsconfig.build.json
releases
current
.cssStage
.cssStage-old-sandbox
