node_modules
dist
distBackend
distFrontend
.env
logs
package-lock.json
tsconfig.tsbuildinfo
appconfig.json
.claude
pnpm-lock.yaml
mls-*
.DS_Store
types/*
servers/*.conf
.pm2.generated.cjs
tsconfig.build.json
